includeConfig 'configuration/base.config'

plugins {
  id 'nf-schema@2.7.2'
}

profiles {

  ec2 {
    includeConfig 'configuration/ec2.config'
  }

  docker {
    docker {
      enabled = true
      fixOwnership = true
    }
  }
}


process {
  cpus = 10
}

params {
  raw = ''
  mzml = ''
  library = ''
  tdb = ''
  input = ''

  // DIANN
  ms1acc = false // maybe set to 10 for orbitrap, 15 for TIMS
  ms2acc = false // maybe 4 for orbi astral, 15 for TIMS
  window = false
  varmods = 'UniMod:35,15.994915,M' // Oxidation, add more with separator ;
  fixmods = 'UniMod:4,57.021464,C' // Carbamidomethyl, add more with separator ;
  ntermmetexcision = false
  ntermacetyl = false
  maxvarmods = 2
  miscleav = 1
  precconflvl = 0.01  // --matrix-qvalue, matrix filtering q-value for precursors
  proteinconflvl = 0.01  // --matrix-spec-q, specific protein q-value
  mincharge = 2  // --max-pr-charge
  maxcharge = 4  // --max-pr-charge
  minmz = 300 // --min-pr-mz TIMS, orbi typical 380
  maxmz = 1300 // --max-pr-mz TIMS, orbi typical 980
  minfragmz = 200 // --min-fr-mz
  maxfragmz = 1800 // --max-fr-mz
  minpeplen = 8 // --min-pep-len
  maxpeplen = 40 // --max-pep-len
  nonorm = false // --no-norm
  proteotypicity = 2 // --pg-level 2=genes, 0=isoforms2, 1=protein names
  ids_to_names = false // --ids-to-names for when using isoforms
  enzyme = 'trypsin' // trypsin, trypsinp (cuts after P)
  exclude_contaminants = false // --cont-quant-exclude TAG, e.g. cRAP-
  individual_massacc = false // cannot specify mass accuracy if using this, also not recommended with reusing quantfiles
  individual_windows = false // cannot specify mass accuracy if using this, also not recommended with reusing quantfiles

  // peptidoforms (automatically on when variable mods)

  // Per-file inputs FIXME better names!
  create_lib = false
  train_quantums = false
  quantfile = false

  // Infra
  batchsize = 0 // 0: all files in same batch
  quantdir = false

  // Outputs
  output_pred_lib = false
  output_emp_lib = false
  outputquant = false
  outputreport = false
}
trace {
  enabled = true
  overwrite = true
  // Dont use timestamp - we cannot get it in the onComplete handler,
  // where we somehow will have to parse this file
  file = "execution_trace.txt"
  fields = 'task_id,hash,native_id,name,tag,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar'
}

manifest {
  name = 'lehtiolab/nf-diann'
  main author = 'Jorrit Boekel'
  modified by: Suvra Nath
  RefhomePage = adapted from 'https://github.com/lehtiolab/nf-diann'
  description = 'DIA-NN pipeline'
  nextflowVersion = '>=26.04.1'
  version = '0.4'
}
