process {
  resourceLimits = [
      memory: 512.GB,
      cpus: 256,
      time: 7.d,
  ]

  cpus = { task.attempt }
  memory = { 6.GB * task.attempt }
  time = { 2.h * task.attempt }

  errorStrategy = { task.exitStatus in [140,137] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
  
  cpus = 4

  withName: extractThermoScans {
    memory = 4.GB
  }

  withName: combineEmpiricalLibraryRuns {
    // for testing purposes!
    memory = { Math.max(raws.collect { it.isDirectory() ? it.toRealPath().eachFileMatch('analysis.tdf_bin') { it.size()/20 }[0] : it.size()/20 }.sum().longValue() , 6L << 30) * 1.B }
  }
}
